/*	globalNavigation
-----------------------------*/
@media screen and (max-width: 640px){
div#navi{
height:156px;
}

ul#globalNavi{
	margin:0;
	padding:0;
	width:100%
	list-style-type:none;
}

ul#globalNavi li{
	margin: 0 0.25%;
	border-bottom:1px solid #fff;
	//padding-top: 3px;
	width: 49.5%;
	list-style-type:none;
	float:left;
	background-color:#444;
	color: #fff;
	text-align:center;
	font-size:120%
}

ul#globalNavi a {
	height:38px;
	padding:0;
	text-decoration: none;
	border-bottom:none;
	color: #fff;
	line-height:150%;
	display:block;
}
#globalNavi a:hover, #globalNavi li:hover {
  text-decoration: none;
	background-color:#66b252;
}

}