/*	globalNavigation
-----------------------------*/
@media screen and (max-width: 830px) and (min-width: 641px){
div#navi{
height:80px;
}

ul#globalNavi{
	margin:0;
	padding-right:1px;
	width:100%
	list-style-type:none;
}

ul#globalNavi li{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	width: 25%;
	list-style-type:none;
	float:left;
	background-color:#444;
	color: #fff;
	text-align:center;
	font-size:120%
}

ul#globalNavi a {
	height:39px;
	padding: 0;
	text-decoration: none;
	border-bottom:none;
	color: #fff;
	line-height:170%;
	display:block;
}
#globalNavi a:hover, #globalNavi li:hover {
  text-decoration: none;
	background-color:#66b252;
}

}