@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hiragino Sans','IBM Plex Sans JP', sans-serif;
    animation: fadeIn .4s ease-in 0s 1 normal;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.loader h1{
    color: #717171;
}

.loader .img {
    display: none;
}


.header{
    width: 100%;
}

nav{
    width: 100%;
    padding: 0 0;
    position: fixed; 
    text-align: center;
    background-color: #fff;
    z-index: 3;
}


.logo{
    position: relative;
    transition: 0.3s;
    width: 100%;
}

.logo img{
    width:40%;
    object-fit: cover;
    cursor: pointer;
}


.bar{
    display: flex;
    justify-content: space-around;
}

.menu{
    width: 100%;
    background :#000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); 
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
}

.menu li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

.menu li a{
    text-decoration: none;
    color: white;
    transition:0.3s;
}

.menu li a:hover{
    text-decoration: none;
    color: #ecc000;
    
}

.burger{
    display: none;
    position: absolute;
    right: 10px;
    top: 70px;
    cursor: pointer;
    
}

.burger div{
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 11px;
    transition: all 0.5s ease-in-out;
}

.nav-active {
    transform: translateX(0%) !important;
}

.nav-active a{
    color: #ffffff !important;
    font-weight: bold;
}

.nav-active a:hover{
    color: #4A954A !important;
    font-weight: bold;
}

.toggle .line1{
    transform: rotate(-405deg) translate(-5px, 14px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -14px);
}

.burger{
    transform: translateX(-5px);
}


.background{
    position: relative;
    margin-bottom: 0;
    padding-bottom: 40%;
}

@keyframes fadeLeftAnime {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.background img{
    position: absolute;
    z-index: 1;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.background .text{
    display: table-cell;
    position: absolute;
    padding: 0px;
    transform: translateX(-50%) translateY(-50%);
    top: 30%;
    width: 100%;
    height:50%;
    left: 0;
    right: 0;
    margin: auto;    
    background-color: rgba(0, 0, 0, .5);
    background-size: 100%;
    color: white;
    z-index:2;
    font-size: 100%;
    text-align: left;
    text-shadow: 2px 2px 2px #a3a3a3;
    animation-name: fadeLeftAnime;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.background .text h1{
    margin-left: 10%;
    margin-top: 5%;
    
}

.background .text h3 {
    margin-left: 15%;
}



.text-area{
    padding: 20px 15%;
}


.welcome{
    white-space: nowrap;
    border-width: 0px 0px 3px 6px;
    border-style: solid;
    border-color: #4A954A;
}

.welcome-detail{
    margin-top: 10px;
}

.welcome-detail a{
    text-decoration: underline;
    color: #000;
    transition: 0.3s;
}

.welcome-detail a:hover{
    color: #979797;
}



.Topnewshead{
    border-width: 0px 0px 3px 6px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px;
}

.Topnews{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}


.Topnewshead a{
    text-decoration: none;
    background-color: #ac0000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80%;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.Topnewshead a:hover{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .5);
}


.concertphoto img{
    display: block;
    margin-top: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}



.concertdetail{
    margin-top: 20px;
    font-size: medium;
}



.concertdetail a{
    text-decoration: underline;
    color: #000;
    transition: 0.3s;
}

.concertdetail a:hover{
    color: #a3a3a3;

}

.concertdetail table{
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.concertdetail th{
    text-align: center;
    border: solid 1px;
}

.concertdetail td {
    text-align: center;
    border: solid 1px;
}

.totickets{
    padding: 0px, 15px, 0, 15px;
    margin-bottom: 20px;
}

.totickets a{
    text-decoration: none;
    font-size: 30px;
    background-color: #429342;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    word-break: keep-all;
    transition: 0.3s;
}

.totickets a:hover{
    color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .5);
}

.concertdetail table{
    border-collapse: collapse;
    max-width: 100%;
}




.News{
    border-width: 0px 0px 3px 6px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}



.notice {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}


.notice th {
    font-weight: 400;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 12px 0;
    text-align: left;
}

.notice td {
    padding-left: 24px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 12px 0;
    text-align: left;
}

.notice a{
    text-decoration: none;
    color: #b51b1b;
    transition: 0.3s;
}

.notice a:hover{
    color: #d49292;
}



.sns{
    background: #FAF7F0   
}

.wrapper{
    padding: 20px 15%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.sub-title{
    margin-bottom: 10px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
    width: 500px;
}

.sns-box{
    width: 100%;
}



.footercr{
    padding-top: 20px;
    padding-bottom: 10px;
    background: #e8f8e6;
    text-align:center;
}

.meidailogo img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    transition: 0.3s;
}

.meidailogo img:hover{
    filter: brightness(90%);
}

.privacy{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.privacy a{
    text-decoration: none;
    color: #000000;
    font-size: large;
    transition: 0.3s;
    white-space: nowrap;    
}

.privacy a:hover {
    text-decoration: none;
    color: gray;
}



.text{
    text-align: center;
}



.partintro h3{
    margin-bottom: 10px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}



.eventsdetail h3{
    width:100%;
    margin-bottom: 10px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}

#covid{
    scroll-margin-top: 170px;
}

#covid h3{
    width:100%;
    margin-bottom: 10px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}

#conductorpage {
    text-decoration: underline;
    color: #000;
    transition: all 0.3s;
}

#conductorpage:hover{
    color: #808080;
}


#caution{
    color: red;
    text-decoration: underline;
}



.linkdetail h3{
    width:auto;
    margin-bottom: 10px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}

.linkdetail a{
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000000;
    transition: 0.3s;
}

.linkdetail a:hover{
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #a3a3a3;
}



.youtubevideo{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.youtubevideo iframe{
    width: 100%;
    height: 100%;
}

.concerts-sofar h1{
    margin-bottom: 10px;
    border-width: 0px 0px 3px 6px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}

.concerts-record h1{
    margin-bottom: 10px;
    border-width: 0px 0px 3px 6px;
    border-style: solid;
    border-color: #4A954A;
    margin-top: 30px; 
}



.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;
}

.item img{
    height: 250px;
    border: solid 3px #4A954A; 
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    transition: 0.3s;
}


.item :hover{
    filter: brightness(80%);
    
}

.item p{
    text-decoration: none;
    color: #000000;
    text-decoration: underline #000;
    margin-bottom: 20px;
    text-align: center;
}

.item p:hover{
    color: #a3a3a3;
    transition: 0.3s;
}



.backtoconcert{
    text-align: right;
}

.backtoconcert a{
    text-decoration: none;
    color: #000;
    border-bottom:solid 2px black;
    font-size: medium;
    transition: 0.3s;
}

.backtoconcert a:hover{
    color: gray;
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}



#cont{
    width: 100%;
    border-spacing: 0;
    letter-spacing: 1px;
    font-size: smaller;
    align-content: center;
}

#cont th,td{
    padding: 5px;
    border: 0px #000 solid;
}

#cont tr:nth-child(even){
    background-color: #eaeaea;
}

#cont th:nth-child(1) {
    width: 10%;
}

#cont th:nth-child(2) {
    width: 20%;
}

#cont th:nth-child(3) {
    width: 45%;
}

#cont th:nth-child(4) {
    width: 25%;
}

#btn{
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #4A954A;
    border-radius: 3em;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover{
    color: #000000;
}

#cont{
    display: none;
}

#cont.on{
    display: block;
}


.downloadButton{
    width: 350px;
}

.downloadButton a{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    background: #4A954A;
    border-radius: 3em;
    cursor: pointer;
    transition: 0.3s;
}

.downloadButton:hover a{
    color: #000000;
}



.totop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #4A954A;
    border-radius: 10%;
    color:#fff;
    text-align: center;
    font-size: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 4px;
}

.totop:hover{
    transform: translateY(-10px);
    scale: 1.1;
}



.oursns{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: 3%;
    width: 60px;
    z-index: 100;
    gap: 7px;
}


.snslogo img{
    width: 100%;
    transition: 0.3s;
    border-radius: 10px;
}
.snslogo img:hover{
    filter: drop-shadow(3px 3px 3px #979797);
    transform: scale(1.1, 1.1);
    display: inline;
}


.contact-q{
    width:100%;
    font-size: 20px;
    text-decoration: none;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #4A954A;
    margin-bottom: 10px;
}

#necessary{
    color: white;
    background-color: #ac0000;
    margin-left: 5px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.soushin{
    font-size: medium;
    width: 10%;
    text-align: center;
}

textarea{
    resize: vertical;
    width: 100%;
    height: 200px;
}

.lineqr{
    text-align: center;
}

.pagecomparison{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.page{
    border: solid 3px #4A954A;
    filter: drop-shadow(3px 3px 5px #000);
}

.sign{
    text-align: right;
}

.arrow{
    filter: drop-shadow(2px 2px 2px #000);
}

.photogallery{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.photogallery img{
    border: solid 3px #4A954A;
    filter: drop-shadow(2px 2px 3px #000);
}

.photogallery video{

    border: solid 3px #4A954A;
    filter: drop-shadow(2px 2px 3px #000);
}

.concertdetail h2{
    background-color: #e6e6e6;
    display: inline;
}

#text{
    font-size: small;
}

.googleCalendar iframe {
    width: 100%;
    height: 400px;
}

#shinkan_calender{
    text-align: center;
}

@media screen and (min-width: 2000px){
    .concertphoto img{
        max-height: 800px;
        width: auto;
    }
}

@media screen and (max-width: 1024px) {

    body{
        overflow-x: hidden; 
        font-family: sans-serif;
    }

    .menu a{
        font-size: 13px;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .twitter-timeline{
        margin: 0 auto;
    }

    .sub-title{
        width: 400px;
    }

    .welcome{
        font-size: larger;
    }

    .Topnewshead{
        font-size: larger;
    }

    .history h4 {
        font-size: small;
     }

     .oursns{
        transform: scale(0.6);
        left: 0px;
     }

     .background h1{
        font-size: 15px;
     }

     .background h3{
        font-size: 10px;
     }

     .sub-title{
        width: 100%;
     }

     .meidailogo img{
        width: 80px;
     }

    
     .backtoconcert a{
        font-size: 12px;
    }

    .soushin{
        width: 80px;
    }

    .youtubevideo{
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    
    .youtubevideo iframe{
        width: 100%;
        height: 100%;
    }

    .Topnews{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Topnewshead a{
        white-space: nowrap;
    }

    #covid{
        scroll-margin-top: 150px;
    }

    .totickets{
        display: flex;
        justify-content: center;
    }

    .concertdetail{
        margin: 0 auto;
    }

}

@media screen and (max-width: 768px){

    body{
            overflow-x: hidden; 
    }

    .menu {
        position: absolute;
        right: 0;
        height: 98vh;
        background-color: #000;
        opacity:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transform: translateX(100%);
        padding-bottom: 25vh;
    }

    .menu a{
        font-size: 15px;
    }

    .menu li{
        opacity: 0;
        font-weight: 700px;
    }



    .burger{
        display: block;
        background-color: #0000006e;
        border-radius: 10%;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons{
        font-size: small;
        height: auto;
        text-align: center;
    }

    #btn{
        padding: 20px;
        font-size: 10px;
    }

    .downloadButton a{
        padding: 20px;
        font-size: 10px;
    }

    .privacy a{
        font-size: small;
    }

    .map{
        display: block;
        width: 100%;
        height: auto;
    }

    .eventsdetail h2{
        font-size: small;
        color: #ac0000;
    }

    #covid h2{
        font-size: small;
        color: #ac0000;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

    .eventsdetail h3{
        width: 100%;
    }

    #covid h3{
        width: 100%;
    }

    .contact .welcome-detail{
        word-break: break-all
    }
    
    .photogallery{
        flex-direction: column;
        gap: 10px;
     }

     .photogallery img{
        width: 70%;
     }

     .photogallery video{
        width: 70%;
     }

     .concertdetail{
        width: 100%;
     }

     .concertdetail t,td{
        border: 2px #000 solid;
     }

    .background .text{
        height: 60%;
    }

    .text-area{
        padding-right: 10%;
        padding-left: 15%;
    }

    .welcome{
        font-size: 15px;
    }

    #right{
        display: block;
        text-align: right;
    }

    .concertphoto{
        display: flex;
        justify-content: center;
    }


    .totickets a {
        font-size: 20px;
    }

    .notice td {
        border-left: solid 0px;
        border-right: solid 0px;
    }

    .logo img{
        width: 70%;
    }

    .loader h1{
        font-size: large;
    }

    #cont {
        width: 100%;
        border: none !important;;
        border-spacing: 0;
        letter-spacing: 1px;
        font-size: smaller;
        align-content: center;
    }

    #cont td,th{
        border: none;
    }

    .background .text h1{
        font-size: 13px;
    }
    
    .background .text h3{
        font-size: 10px;
    }

    #covid{
        scroll-margin-top: 60px;
    }

    .googleCalendar iframe {
        height: 600px;
    }
}

@keyframes navLinksFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}